<div class="layout-container">
  
  <!-- Sidebar Lateral Fixa -->
  <aside class="sidebar">
    <div class="logo-container">
      <!-- Substituir pelo caminho correto da imagem do avatar com chapéu de enfermeira -->
      <img 
      ngSrc="../../../../assets/logo-pre-natal.png" 
      width="500" 
      height="500" 
      alt="Logo" 
      class="avatar-logo">
    
    </div>

    <nav class="nav-menu">
      <a class="nav-item"
         routerLink="/home" 
         routerLinkActive="active">
        <span class="icon">🏠</span> Início
      </a>
      <a class="nav-item">
        <span class="icon">💉</span> Grafo
      </a>
      <a class="nav-item">
        <span class="icon">🩺</span> Condutas
      </a>
       <a class="nav-item">
        <span class="icon">👨‍🎓</span> Aluno
      </a>
      <a class="nav-item ">
        <span class="icon">✕</span> Sair
      </a>
    </nav>
  </aside>

  <!-- Área Branca Central com Content Projection -->
  <main class="content-area">
    <ng-content select="[card-body]"></ng-content>
  </main>

</div>